@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,300&family=Source+Code+Pro:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif
}
body
{
    min-height: 100vh;

}
.side-bar
{
    background :rgba(255, 255, 255, 0.1);
    background-color: rgb(107, 110, 117);
    backdrop-filter: blur(15px);
    width: 290px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
}
.side-bar .active
{
    left: 0;
}
.side-bar .menu
{
    width: 100%;
    margin-top: 80px;
}
.side-bar .menu .item
{
    position: relative;
    cursor: pointer;
}
.side-bar .menu .item a
{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 5px 30px;
    line-height: 60px;
}
.side-bar .menu .item a:hover
{
    background: #8621F8;
    transition: 0.3s ease;
}
.side-bar .menu .item i
{
    margin-right: 20px;
}
.side-bar .menu .item .dropdown
{
    position: absolute;
    right: 0;
    margin: 20px;
    transition: 0.3s ease;
}
.side-bar .menu .item .sub-menu
{
    background: rgba(255, 255, 255, 0.1);
    display: none;
}
.side-bar .menu .item .sub-menu a
{
    padding-left: 80px;
}
.rotate
{
    transform: rotate(90deg);
}

.close-btn 
{
    position: absolute;
    color: #fff;
    font-size: 20px;
    right: 0;
    margin: 25px;
    cursor: pointer;
}
.open-btn 
{
    position: absolute;
    color: #fff;
    font-size: 20px;
    margin: 25px;
    cursor: pointer;
}
.side-bar p a
{
    color: #fff;
    font-size: 25px;
    position: absolute;
    left: 50px;
    text-decoration: none;
}
.side-bar .social_media
{
    position: relative;
    margin: 35px;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    cursor: pointer;
}
.social_media i
{
    padding: 0 5px;
    color: #fff;
    opacity: 0.9;
    font-size: 20px;
    transition: all 0.2s linear;
}


